<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Metas</title>
</head>
<body>
    <h1>Listagem de Metas</h1>
    <ul>
        {% for meta in metas %}
        <li>
            <strong>Descrição:</strong> {{ meta[1] }}<br>
            <strong>Valor da Meta:</strong> {{ meta[2] }}<br>
            <strong>Data Limite:</strong> {{ meta[3] }}<br>
        </li>
        {% endfor %}
    </ul>
</body>
</html>